<%-
  if ( !defined?( as_a ) || as_a.blank? )
    as_a = :none
  elsif ( !as_a.instance_of?( Symbol ) )
    as_a = as_a.to_s.strip.to_sym
  end
  
  if ( defined?( menu ) && menu.instance_of?( Menu ) )
    if ( as_a == :new || as_a == :edit )
      form_for( menu ) do |f|
-%>
  <%= f.error_messages %>
  <p>
    <%= f.label( :name ) %><br />
    <%= f.text_field( :name ) %>
  </p>
  <p>
    <%= f.label( :controller ) %><br />
    <%= f.text_field( :controller ) %>
  </p>
  <p>
    <%= f.label( :action ) %><br />
    <%= f.text_field( :action ) %>
  </p>
  <p>
    <%= f.label( :parameters ) %><br />
    <%= f.text_field( :parameters ) %>
  </p>
  <div class="ui-buttonpane ui-widget-content ui-helper-clearfix">
    <%= content_tag( :button, 'Save', { :id => 'save_menu', :name => 'save' } ) %>
    <%= content_tag( :button, 'Save and Add Another', { :id => 'save_and_add_another_menu', :name => 'save_and_add_another' } ) %>
    <%= content_tag( :button, 'Save and Edit', { :id => 'save_and_edit_menu', :name => 'save_and_edit' } ) %>
    <%= content_tag( :button, 'Cancel', { :id => 'cancel_menu' } ) %>
  </div>
<%-
    end
    content_for_or_javascript_tag_if( request.xhr?, :document_ready_ui ) do
-%>
  menusFormValidations( jQuery, '<%= as_a %>' );
  saveMenuButtonsHandler( jQuery );
  saveAndAddAnotherMenuButtonsHandler( jQuery );
  saveAndEditMenuButtonsHandler( jQuery );
  cancelMenuButtonsHandler( jQuery, '<%= as_a %>' );
<%-
    end
  else
-%>
  Please provide a valid form type.
<%-
    end
  else
-%>
  Please provide a valid menu object.
<%- end -%>
