<h1>Listing menu_items</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @menu_items.each do |menu_item| %>
  <tr>
    <td><%=h menu_item.name %></td>
    <td><%= link_to 'Show', menu_item %></td>
    <td><%= link_to 'Edit', edit_menu_item_path(menu_item) %></td>
    <td><%= link_to 'Destroy', menu_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New menu_item', new_menu_item_path %>