<%-
  if ( !defined?( as_a ) || as_a.blank? )
    as_a = :none
  elsif ( !as_a.instance_of?( Symbol ) )
    as_a = as_a.to_s.strip.to_sym
  end
  
  if ( defined?( user ) && user.instance_of?( User ) )
    if ( as_a == :new || as_a == :edit )
      form_for( user ) do |f|
-%>
  <%= f.error_messages %>
  <p>
    <%= f.label( :username ) %><br />
    <%= f.text_field( :username ) %>
  </p>
  <p>
    <%= f.label( :email ) %><br />
    <%= f.text_field( :email ) %>
  </p>
  <div class="ui-buttonpane ui-widget-content ui-helper-clearfix">
    <%= content_tag( :button, 'Save', { :id => 'save_user', :name => 'save' } ) %>
    <%= content_tag( :button, 'Save and Add Another', { :id => 'save_and_add_another_user', :name => 'save_and_add_another' } ) %>
    <%= content_tag( :button, 'Save and Edit', { :id => 'save_and_edit_user', :name => 'save_and_edit' } ) %>
    <%= content_tag( :button, 'Cancel', { :id => 'cancel_user' } ) %>
  </div>
<%-
    end
    content_for_or_javascript_tag_if( request.xhr?, :document_ready_ui ) do
-%>
  usersFormValidations( jQuery, '<%= as_a %>' );
  saveUserButtonsHandler( jQuery );
  saveAndAddAnotherUserButtonsHandler( jQuery );
  saveAndEditUserButtonsHandler( jQuery );
  cancelUserButtonsHandler( jQuery, '<%= as_a %>' );
<%-
    end
  else
-%>
  Please provide a valid form type.
<%-
    end
  else
-%>
  Please provide a valid user object.
<%- end -%>
