<%-
  content_for( :title ) do
-%>
    <%= t( 'devise.passwords.link' ) %>
<%-
  end
-%>
<div id="reset_password_div" title="<%= t( 'devise.passwords.link' ) %>">
  <h2><%= t( 'devise.passwords.link' ) %></h2>
  <%- form_for( resource_name, resource, { :url => password_path( resource_name ), :html => { :id => 'reset_password_form' } } ) do |f| -%>
    <%= f.error_messages %>
    
    <p><%= f.label :email %></p>
    <p><%= f.text_field :email %></p>
  <%- end -%>
</div>
<%-
  content_for( :document_ready_ui ) do
-%>
    $( '#reset_password_div' ).dialog( {
      width : 350,
      modal : true,
      resizable : false,
      draggable : false,
      closeOnEscape : false,
      create : function( event, ui ) { $( '.ui-dialog-titlebar-close' ).hide(); },
      buttons : {
        'Send me reset password instructions' : function() { $( '#reset_password_form' ).submit(); },
	'Back' : function() { window.location.href = '<%= new_session_path( resource_name ) %>'; }
      }
    } );
<%-
  end
-%>
